ul {
  list-style: none;
}

h2 {
  margin-bottom: 2vh;
}

span {
  border: 2px solid #3b8a3b;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

.description {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 1vh;
}

li {
  margin-bottom: 4vh;
}
